<h5>Imports be here<h5>

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from pathlib import Path

<p>Reading the document<p>

In [11]:
#Open Excel files with different extensions
filename = 'train.csv'
file_path = Path(filename)
file_extension = file_path.suffix.lower()[1:]

if file_extension == 'xlsx':
    data = pd.read_excel(file_path, engine='openpyxl')
elif file_extension == 'xls':
    data = pd.read_excel(file_path)
elif file_extension == 'csv':
    data = pd.read_csv(file_path, delimiter=";")
else:
    raise Exception("File not supported")

<h3>Data Head<h3>

In [12]:
data.head()

,Cust_ID,Churn,Name,Longevity,Year_Birth,TypeTravel,RoomType,RewardPoints,Comfort,ReceptionSchedule,...,Wifi,Amenities,Staff,OnlineBooking,PriceQuality,RoomSpace,CheckOut,Checkin,Cleanliness,BarService
0,1,churn,Ms. Nicole Clarke,yes,1974.0,business,single,4907,3,4,...,4,3,4,3,3,3,3,4,3,4
1,2,nochurn,Mr. Jesse Scott,yes,1965.0,business,single,6724,1,1,...,5,3,4,5,5,5,5,1,5,2
2,3,churn,Mr. Christopher Carter,yes,1973.0,business,single,4365,3,3,...,1,4,4,3,3,2,3,2,3,1
3,4,nochurn,Ms. Jennifer Morgan,yes,1993.0,leisure,double,3849,1,1,...,4,4,5,4,4,4,4,4,4,3
4,5,nochurn,Mr. Michael White,yes,1989.0,business,single,5376,2,2,...,5,5,5,5,5,3,4,1,3,5

<h3>Data Info<h3>

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15589 entries, 0 to 15588
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Cust_ID            15589 non-null  int64
 1   Churn              15589 non-null  object
 2   Name               15589 non-null  object
 3   Longevity          15589 non-null  object
 4   Year_Birth         15394 non-null  float64
 5   TypeTravel         15589 non-null  object
 6   RoomType           15589 non-null  object
 7   RewardPoints       15589 non-null  int64
 8   Comfort            15589 non-null  int64
 9   ReceptionSchedule  15589 non-null  int64
 10  FoodDrink          15589 non-null  int64
 11  Location           15589 non-null  int64
 12  Wifi               15589 non-null  int64
 13  Amenities          15589 non-null  int64
 14  Staff              15589 non-null  int64
 15  OnlineBooking      15589 non-null  int64
 16  PriceQuality       15589 non-null  int64
 17  RoomSpace          15589 non-null  int64
 18  CheckOut           15589 non-null  int64
 19  Checkin            15589 non-null  int64
 20  Cleanliness        15589 non-null  int64
 21  BarService         15589 non-null  int64
dtypes: float64(1), int64(16), object(5)
memory usage: 2.6+ MB

In [14]:
data.shape

(15589, 22)

In [15]:
data2 = data.copy()